.about-us {
    .mission {
        margin-top: scale(100);
        padding-top: scale(100);
        border-top: 1px solid $peach;

        h3 {
            font-weight: 300;
            color: $coral;
        }
    }

    .founder {
        background: $peach;

        &__image {
            width: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .col-4 {
            align-content: end;
            z-index: 0;
        }

        .col-3 {
            align-content: end;
            z-index: 1;
        }

        &__content {
            margin-bottom: scale(200);
            position: relative;

            p {
                position: relative;
                z-index: 1;
            }

            &:after {
                content: '';
                display: block;
                width: 100vw;
                background-color: $white;
                height: calc(100% + 100px);
                position: absolute;
                top: -50px;
                left: -50vw;
                z-index: 0;

            }
        }

    }

}