.signup-page {}

.signup {

  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
  box-shadow: 0 0 16px rgba($peach, 0.9);
  border-radius: 0.75em;
  width: 420px;
  margin: auto;
  background-color: white;
  margin-top: scale(150);

  label {
    display: block;

    span {
      display: block;
      margin-bottom: 0.25em;
    }

    input {
      border: 1px solid $lightest-peach;
      outline: none;
      background: white;
      padding: 0.75em 1em;
      width: 100%;
      color: black;

      &:focus {
        outline: 2px solid $peach;
      }
    }
  }
}