.introduction {
  // padding: scale(150) 0 scale(100);
  padding: clamp(75px, scale(150), 200px) 0 clamp(50px, scale(100), 120px);

  .section-title {
    margin-bottom: 0;
  }

  @include md {
    .container .row {
      gap: 30px;
    }
  }
}

.introduction-below {
  padding: scale(50) 0 scale(150);

  .image-holder {
    width: 100%;
    max-height: scale(725);
    overflow: hidden;
    border-radius: scale(12);

    img {
      width: 100%;
      height: 130%;
      object-fit: cover;
    }
  }

  @include md {
    margin-top: 75px;

    .image-holder {
      height: 40vh;
      max-height: none;
      margin-bottom: 30px;
    }

    .container {
      .row {
        flex-direction: column;
      }
    }
  }


}

.two-image-section {

  .row {
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 1.5em;
  }

  .image-holder {
    width: 60%;
  }

  .image-holder:first-child {
    width: 40%;
    height: 80%;
  }

  @include md {
    display: none
  }
}

// our Services

.our-services {
  background: $peach;
  // background: linear-gradient(180deg, #FFDCBD 0%, #FFCB91 100%);

  .section-list {
    margin-top: scale(150);

    .services-image {
      width: 100%;
      height: 80vh;
      border-radius: scale(12);
      overflow: hidden;
      position: relative;

      .image-wrapper {
        overflow: hidden;
        /* important so clip-path stays inside */
        display: inline-block;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
      }

      .bg-image {
        z-index: 1;
        /* background stays */
      }

      .fg-image {
        z-index: 2;
        /* fade in on top */
      }

      @include md {
        display: none;
      }
    }

    .services-list {
      height: 100%;

      ul {
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        counter-reset: item; // start the counter
        padding-left: 0;

        li {
          border-bottom: 1px solid rgba($white, 0.5);
          flex: 1;
          font-family: $swinton;
          font-weight: 400;
          counter-increment: item; // increment per li
          padding-left: 0;

          a {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $coral;
            transition: 0.35s;


            .service-title {
              font-size: clamp(32px, scale(48), 60px);
              transition: 0.35s;
              padding-left: 0;
              font-weight: 300;
            }

            &:hover {
              background: rgba(255, 255, 255, 0.2);

              .service-title {
                padding-left: scale(25);
              }

              &:after {
                margin-right: scale(24);
              }
            }

            &:after {
              content: counter(item, decimal-leading-zero);
              font-size: scale(24);
              font-family: "inter";
              color: $coral;
              transition: 0.35s;
            }
          }
        }
      }

      @include md {
        ul {
          li {
            a {
              padding-block: 24px;

              &:after {
                display: none;
              }
            }
          }
        }

      }
    }
  }
}

// Our Readers

.our-readers {
  .marquee {
    color: $peach;
  }

  .readers-list {
    margin-top: scale(100);
  }

  &.inner {
    background-color: $peach;
    // margin-bottom: scale(150);

    .marquee {
      color: $lightest-peach;
    }
  }
}