.psychic-single {
    padding-top: scale(80);

    .about {
        .profile {
            img {
                width: 100%;
                height: scale(673);
                object-fit: cover;
                border-radius: scale(8);
            }
        }

        .name-booking {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: scale(30);

            h1 {
                font-size: clamp(40px, scale(96), 108px);
                font-weight: 500;
                color: $burgundy;
            }

            .booking {
                display: flex;
                gap: scale(30);
                align-items: center;
                white-space: nowrap;
            }
        }

        .tagline {
            font-size: clamp(18px, scale(32), 40px);
            font-weight: 400;
            margin: scale(24) 0;
            display: inline-block;

        }


        .intro-table {

            p {
                padding: clamp(16px, scale(24), 40px) 0;
                border-top: 1px solid #FBD5CF;
                // font-size: scale(24);
                font-size: clamp(16px, scale(24), 30px);
                line-height: 1.5;

                &:last-child {
                    border-bottom: 1px solid #FBD5CF;
                }

                span {
                    width: scale(200);
                    display: inline-block;
                    white-space: nowrap;
                    color: $coral;
                }
            }
        }

    }

    .intro {
        background: white;

        .section-title {
            margin-bottom: scale(100);
        }

        p {
            @extend .body-mid-large;
            margin-bottom: scale(30);

            &:last-child {
                margin-bottom: 0;
            }

        }
    }

    .testimonials {
        background: #FBD5CF;
        margin-bottom: 0;
        border-radius: 0;

        .card {
            background: white;
        }
    }

    @include md {
        padding-top: 40px;

        .about {
            .row {
                display: block;
            }

            .col-3,
            .col-5 {
                flex: none;
                max-width: none;
            }

            .col-5 {
                margin-top: 30px;
            }

            .profile img {
                height: auto;
                aspect-ratio: .9;
            }

            .name-booking {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;

            }

            .intro-table {
                margin-top: 30px;

                p {
                    display: flex;
                    justify-content: space-between;

                    span {
                        width: auto;
                    }
                }
            }
        }

    }
}