.resources-page {
  margin-top: scale(100);
}

.resources-banner {
  background: $peach;
  height: scale(238);
  align-content: center;

  h1 {
    color: $burgundy;
    font-weight: 500;
    font-size: clamp(16px, scale(40), 64px);
  }
}

.articles {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;

  .col {
    width: calc(33.3% - 20px);
  }
}

.videos {
  padding-left: 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;


  .col {
    width: calc(50% - 15px);

  }

  @include md {
    .col {
      width: 100%;
      padding-left: 0;
    }
  }

}

.iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.resource-item {
  $self: &;
  box-shadow: 0px 0px 30px 0px #803d001a;
  border-radius: scale(12);
  background: $white;
  width: 100%;
  overflow: hidden;

  #{$self}__image {
    height: scale(340);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  #{$self}__content {
    overflow: hidden;
    background: white;
    padding: clamp(16px, scale(24), 40px);
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 8px;

    .date {
      font-weight: 400;
      font-size: clamp(12px, scale(14), 16px);
    }

    .title {
      font-family: $swinton;
      font-weight: 500;
      font-style: Medium;
      font-size: clamp(18px, scale(32), 64px);
    }

    .tags {
      margin-top: 1.5em;
      gap: 8px;
      display: flex;
    }
  }

  &--video {
    #{$self}__image {
      height: scale(475);
    }
  }

  @include md {
    #{$self}__image {
      height: auto;
      aspect-ratio: 16 / 9;
    }
  }
}