.container {
    margin: 0 scale(100);
    box-sizing: border-box;
    display: flex;
    gap: 30px;

    &-col {
        flex-direction: column;
    }
}

.section {
    padding: scale(150) 0 scale(150);
}


.add-testimonial {
    padding: 150px 0;
}

.not-found {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    a {
        &:hover {
            color: $orange;
        }
    }
}


.marquee {
    --speed: 20s;
    /* lower = faster */
    width: 100%;
    font-size: scale(220);
    color: $lightest-peach;
    font-weight: 200;
    white-space: nowrap;
    font-family: $swinton;
    margin-bottom: scale(100);
    line-height: 1;
    // animation: marquee 20s linear infinite;

    .marquee__inner {
        display: inline-flex;
        gap: var(--gap);
        white-space: nowrap;
        will-change: transform;
        animation: marquee var(--speed) linear infinite;

        >span {
            display: inline-block;
            padding: 0.75rem 0;
            /* demo only */
        }
    }

}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}