@font-face {
    font-family: 'Swinton';
    src: url('../../fonts/NNSwintonSTD-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swinton';
    src: url('../../fonts/NNSwintonSTD-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swinton';
    src: url('../../fonts/NNSwintonSTD-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Swinton';
    src: url('../../fonts/NNSwintonSTD-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swinton';
    src: url('../../fonts/NNSwintonSTD-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swinton';
    src: url('../../fonts/NNSwintonSTD-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swinton';
    src: url('../../fonts/NNSwintonSTD-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swinton';
    src: url('../../fonts/NNSwintonSTD-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swinton';
    src: url('../../fonts/NNSwintonSTD-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}