h1,
h2,
h3,
h4 {
  font-family: $swinton;
}

h3 {
  font-size: scale(40);
  font-weight: 500;
  color: $burgundy;

  &.section-title {
    margin-bottom: scale(100);
  }
}

p {
  font-size: clamp(16px, scale(18), 20px);
}

ul,
li {
  padding-left: 1em;
}

.body-large {
  font-size: scale(48);
  font-size: clamp(32px, scale(48), 60px);
  font-weight: 200;
  // text-indent: 100px;
  line-height: 1.5;

  ul,
  li,
  p {
    font-size: 1em;
  }
}

.body-mid {
  font-size: scale(24);

  font-weight: 400;
  line-height: 1.5;

  ul,
  li,
  p {
    font-size: 1em;
  }
}

.body-mid-large {
  // font-size: scale(32);
  font-size: clamp(24px, scale(32), 40px);
  font-weight: 300;
  line-height: 1.5;
}
