h1,
h2,
h3,
h4 {
    font-family: $swinton;

}

h3 {
    font-size: scale(40);
    font-weight: 500;
    color: $burgundy;

    &.section-title {
        margin-bottom: scale(100);
    }
}

p {
    font-size: clamp(16px, scale(18), 20px);
}

.body-large {
    font-size: scale(48);
    font-weight: 200;
    // text-indent: 100px;
    line-height: 1.5;
}

.body-mid {
    font-size: scale(24);
    font-weight: 400;
    line-height: 1.5;
}