$brand: #800000;
$orange: #e5601c;

$brown-light: #FFEEDF;
$brown: #803D00;
$brown-darkest: #2D1703;

$burgundy: #800000;
$barkest-burgundy: #2D0303;

$lightest-peach: #FDEFEC;
$peach: #FBD5CF;

$coral: #C55341;
$maroon: #812514;

$golden: #FD9232;

$black: #3E3E3E;
$white: #FFFFFF;

$gray-light: #f3f5f8;
$gray: #717171;

$default: 1920;

// fonts

$swinton: 'Swinton';