@import 'global/variable';
@import 'global/mixins';
@import 'core/reset';
@import 'core/core';
@import 'global/media-query';
@import 'global/font';
@import 'global/typography';

@import './core/core';

@import 'layout/layout';
@import 'layout/grid';


@import 'components/footer';
@import 'components/header';
@import 'components/nav';
@import 'components/hero';

@import 'components/reader-card';
@import 'components/tag';
@import 'components/testimonial';
@import 'components/faq';
@import 'components/embla';
@import 'components/button';

// @import 'components/form';

@import 'pages/home';
@import 'pages/about';
@import 'pages/services';
@import 'pages/contact';