.related-articles {
  .article {
    .article-image {
      width: 100%;
      height: scale(390);
      border-radius: scale(12);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }

    .article-content {
      h3 {
        font-size: scale(32);
        margin-top: scale(48);
        margin-bottom: scale(16);
      }
    }
  }
}