.related-articles {
  .article {
    .article-image {
      width: 100%;
      height: scale(390);
      border-radius: scale(12);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }

    .article-content {
      h3 {
        font-size: clamp(24px, scale(32), 40px);
        margin-top: scale(48);
        margin-bottom: clamp(12px, scale(16), 20px);
      }
    }
  }

  @include md {
    .article {
      .article-image {
        height: auto;
        aspect-ratio: 16 / 9;
      }


    }
  }
}