.button {
  width: 100%;
  background-color: $burgundy;
  color: $lightest-peach;
  padding: scale(20) scale(24);
  text-align: center;
  transition: 0.35s;
  border-radius: scale(8);
  font-weight: 500;
  font-size: clamp(16px, scale(18), 20px);
  outline: 0;
  border: 0;
  cursor: pointer;

  &:hover {
    // background-color: lighten($burgundy, 10%);
    background-color: $coral;
    color: white;
  }

  &.small {
    padding: scale(12) scale(24);
  }
}

.button-outline {
  background-color: white;
  color: $burgundy;
  border: 1px solid $burgundy;
  border-radius: 100px;
}

.load-more {
  text-align: center;
  margin: auto;
  width: fit-content;
  margin-top: 2em;

}