.button {
  width: 100%;
  background-color: $burgundy;
  color: $lightest-peach;
  padding: scale(20) scale(24);
  text-align: center;
  transition: 0.35s;
  border-radius: scale(8);
  font-weight: 500;
  font-size: clamp(16px, scale(18), 20px);
  outline: 0;
  border: 0;
  cursor: pointer;

  &:hover {
    // background-color: lighten($burgundy, 10%);
    background-color: $coral;
    color: white;
  }

  &.small {
    padding: scale(12) scale(24);
  }
}

.button-outline {
  background-color: white;
  color: $burgundy;
  border: 1px solid $burgundy;
}

.button-cta {
  background: $peach;
  color: $burgundy;
  border-radius: 100em;

  &:hover {
    background: darken($peach, 20%);
    color: $burgundy;
  }
}

.button--header {
  background: $peach;
  padding: scale(12) scale(24);
  color: $burgundy;
  border-radius: 100em;

  &:hover {
    background: lighten($peach, 20%);
    color: $burgundy;
  }
}

.button--load-more {
  text-align: center;
  margin: auto;
  width: fit-content;
  border-radius: 100em;
  padding: scale(16) scale(32);
  background-color: $lightest-peach;
  border: 1px solid $burgundy;
  color: $burgundy;

  &:hover {
    background-color: $peach;
    color: $burgundy;
    border-color: $peach;
  }
}