.dropdown {
  position: relative;

  &-toggle {
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
  }

  &-menu {
    display: none;
    gap: 0.5em;
    flex-direction: column;
    padding: 1em 0;
    border-radius: 0.5em;
    position: absolute;
    top: 100%;
    z-index: 7000;
    list-style-type: none;
    background: $lightest-peach;
    color: black;
    left: 0;

    a {
      display: block;
      width: 100%;
      padding: 1em;
      padding-top: 4px !important;
      padding-bottom: 4px !important;

      &:hover {
        background: lightgray;
      }
    }
  }

  &.open,
  &:hover {
    .dropdown-menu {
      display: flex;
    }
  }
}
