.dropdown {
  position: relative;

  &-toggle {
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
  }

  &-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 0px);
    padding: 0;
    z-index: 7000;
    list-style-type: none;
    background: $peach;
    color: $lightest-peach;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 16px;
    width: 200px;
    background-color: rgba(45, 3, 3, 1);
    padding-block: 30px;



    ul,
    li {
      padding: 0;
      margin: 0;
    }

    a {
      display: block;
      width: 100%;
      padding-block: scale(16);
      padding-inline: scale(30);
      line-height: 1 !important;

      &:hover {
        color: $burgundy !important;
        text-decoration: none !important;
        background-color: $lightest-peach;
      }
    }
  }

  &.open,
  &:hover {
    .dropdown-menu {
      display: flex;
    }
  }
}