.footer {
    padding: 50px 0;
    background-color: $barkest-burgundy;
    text-align: center;
    color: $white;

    .container {
        display: flex;
        justify-content: space-between;

    }

    .footer-left {
        img {
            width: 110px;
        }
    }

    .footer-right {
        display: flex;
        align-items: end;
        flex-direction: column;
        gap: 30px;
    }

    .nav {
        display: flex;
        gap: 16px;
        list-style: none;

        a {
            color: white;
            transition: .35s;

            &:hover {
                color: black;
            }
        }
    }

    .social {
        display: flex;
        align-items: center;
        gap: 30px;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 16px;

            a {
                svg {
                    fill: white;
                    transition: .35s;
                }

                &:hover {
                    svg {
                        fill: black;
                    }
                }
            }
        }
    }

    @include sm {
        .container {
            flex-direction: column;
        }

        .footer-right {
            align-items: center;
            margin-bottom: 30px;
        }
    }


}