form {
    // width: 300px;
    margin: 0 auto;
    padding: 50px;
    width: 500px;
    border-radius: 8px;
    // background-color: white;
    // box-shadow: 0 13px 27px rgba($blue-dark, 0.15);

    @include sm {
        padding: 24px;
    }
}

form h3 {
    font-size: 48px;
    margin: 0 0 20px;
    color: $blue-dark;

    @include sm {
        font-size: 32px;
    }
}



form label {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    width: 120px;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

form textarea {
    flex: none !important;
    height: 200px;
}

form button {
    width: 100%;
    padding: 20px;
    background-color: $blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}

form button:hover {}



.form-wrapper {
    padding: 100px 0;
}