.input-field {
    label {
        display: block;
        margin-bottom: scale(8);
        font-size: scale(18);
    }

    input,
    textarea,
    select {
        width: 100%;
        padding: scale(18);
        border: 0;
        font-size: scale(18);
        border-radius: scale(8);
        outline: none;
        box-sizing: border-box;
    }

    textarea {
        flex: none !important;
        height: 200px;
    }
}