.hero {
    $self: &;
    --progress: 0;

    position: relative;

    #{$self}__background {
        width: 100%;
        height: 100vh;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // transform: translateY(calc(var(--progress) * 300px)) !important;
        }
    }

    #{$self}__content {
        position: absolute;
        left: scale(100);
        bottom: scale(150);

        h1 {
            font-size: scale(90);
            color: $white;
            font-weight: 500;
            @extend .width-4;
        }
    }


}