.hero {
  $self: &;
  --progress: 0;
  overflow: hidden;
  position: relative;

  #{$self}__background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // transform: translateY(calc(var(--progress) * 300px)) !important;
    }

    &::after {
      content: "";
      inset: 0;
      position: absolute;
      z-index: 0;
      background: rgba(black, 0.5);
    }
  }

  #{$self}__content {
    position: absolute;
    left: scale(100);
    bottom: scale(150);
    width: 100%;
    color: $white;

    h1 {
      font-size: clamp(42px, scale(90), 110px);
      font-weight: 500;
      @extend .width-4;
    }

    #{$self}__para {
      width: scale(900);
    }
  }



  @include md {
    height: 50vh;

    #{$self}__background {
      height: 100%;
    }

    #{$self}__content {
      right: scale(100);
      width: auto;

      h1 {
        width: auto;
      }

      #{$self}__para {
        width: auto;
      }
    }
  }

}