.starsigns {
  background: $white;
  padding: scale(75) 0;
  position: sticky;
  z-index: 10;
  top: 60px;
  overflow: hidden;

  .container {
    display: flex;
    gap: scale(8);
    justify-content: center;
  }

  .embla__container {
    cursor: move;
    gap: scale(8);
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: scale(150);
    height: 100%;
    pointer-events: none;
    z-index: 2;
    background: #FFFFFF;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:after {
    right: 0;
    background: #FFFFFF;
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .embla__button {
    z-index: 10;
    width: scale(80) !important;
    height: scale(80) !important;
    border-radius: 100%;
    background: $coral ;
    border: 1px solid $coral;
    font-size: scale(32);
    display: flex;
    justify-content: center;
    align-content: center;

    svg {
      stroke: $lightest-peach;
    }


    &:hover {
      background: $lightest-peach;

      svg {
        stroke: $burgundy;
      }
    }

    &.embla__button--next {
      right: scale(-100);
    }

    &.embla__button--prev {
      left: scale(-100);
    }
  }
}

.starsign {
  display: flex;
  padding: scale(8) scale(32) scale(8) scale(8);
  border-radius: 100px;
  background-color: $peach;
  gap: scale(16);

  &.active {
    background: $burgundy;

    .starsign-image {
      background: $lightest-peach;
    }

    .content h3,
    .content p {
      color: $white;
    }
  }

  &-image {
    width: scale(80);
    aspect-ratio: 1;
    border-radius: 50%;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: scale(60);
      height: scale(60);
      object-fit: contain;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: scale(20);
      font-weight: 600;
      font-family: $swinton;
      color: $coral;
    }

    p {
      color: $coral;
      font-size: clamp(12px, scale(14), 16px);
      font-weight: 500;
      white-space: nowrap;
    }
  }
}

.horoscope-content {
  padding: scale(100) 0 scale(150);

  .container {
    flex-direction: column;
  }

  .horoscope-title {
    font-size: scale(60);
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;

    span {
      font-size: scale(24);
      margin-bottom: scale(16);
      color: $coral;
      display: inline-block
    }
  }

  .horoscope-description {
    p {
      @extend .body-mid;
    }
  }

  .horoscope-image {
    margin-top: scale(100);
    aspect-ratio: 2;
    border-radius: scale(16);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}