.modal {
    position: fixed;
    inset: 0;
    z-index: 111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility ease-in-out 0.25s;
    transition-property: visibility, opacity;

    &.show {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }

    &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $peach;
        padding: clamp(12px, scale(16), 24px) clamp(16px, scale(24), 48px);

        h3 {
            color: $black;
            font-size: clamp(24px, scale(32), 48px);

        }

        svg {
            width: clamp(16px, scale(18), 24px);
        }

        button {
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }

    &_backdrop {
        position: absolute;
        inset: 0;
        z-index: 1;
        background: rgba(black, 0.85);
        outline: none;
        border: none;
    }

    &_main {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: scale(1200);
        z-index: 11;
        transform: translate(-50%, -50%);
        background: $white;
        border-radius: scale(8);
        overflow: hidden;

        &.modal_main--video {
            max-width: scale(1200);
            aspect-ratio: 16 / 10;

            .modal_content {
                width: 100%;
                aspect-ratio: 16 / 9;

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }

            @include md {
                width: 80%;
                max-width: none;
            }
        }
    }

    &_content {
        padding: scale(24);
    }

    &_iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        border: none;
        border-radius: scale(8);
    }
}