.menu {
  .nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: scale(24);

    li {
      position: relative;

      a {
        font-size: clamp(18px, scale(22), 24px);
        text-underline-offset: 10px;
        text-decoration-thickness: 1px;
        transition: 0.35s;
        font-family: $swinton;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 4px;
          color: $peach;
        }
      }
    }
  }

  @include sm {
    .nav {
      position: absolute !important;
      right: -30px;
      width: 100vw;
      text-align: right;
      flex-direction: column;
      background-color: #1787ce;
      top: 43px;
      z-index: -1;
      max-height: 0;
      overflow: hidden;
      padding: 0;
    }
  }

  &.show {
    .nav {
      padding: 15px 0;
      max-height: 400px;
    }
  }
}

.menu-icon {
  // position: absolute;
  width: 20px;
  right: 20px;
  top: 15px;
  display: none !important;
  display: block;

  span {
    width: 20px;
    height: 3px;
    background: white;
    display: block;
    margin-bottom: 3px;
  }

  &.show {
    span {
      &:first-child {
        opacity: 0;
      }

      &:nth-child(2) {
        background: white;
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        background: white;
        transform: rotate(-45deg);
        margin-top: -6px;
      }
    }
  }

  @include sm {
    display: block !important;
  }
}
