.menu {
  .nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: scale(24);

    li {
      position: relative;

      a {
        font-size: clamp(20px, scale(22), 24px);
        text-underline-offset: 10px;
        text-decoration-thickness: 1px;
        transition: 0.35s;
        font-family: $swinton;
        line-height: 3;
        display: inline-block;
        color: $peach;

        &:hover {
          text-decoration: underline;
          // text-underline-offset: 4px;
          color: $white;
        }
      }
    }
  }

  @include md {
    .nav {
      position: absolute !important;
      left: 0;
      right: 0;
      text-align: right;
      flex-direction: column;
      top: 100%;
      z-index: -1;
      max-height: 0;
      overflow: hidden;
      padding: 0 30px;
      background: rgba($barkest-burgundy, 0.95);
      align-items: end;

      .button {
        width: fit-content;
        margin-bottom: 30px;
      }

      .dropdown-menu {
        background: none;
        padding: 0;

        a {
          padding-right: 0;
        }

        a:hover {
          background-color: transparent;
        }
      }

      li {
        display: block;
        width: 100%;

        a {
          line-height: 2;
        }
      }
    }
  }

  &.show {
    .nav {
      // padding-bottom: 30px;
      max-height: 800px;
    }
  }
}

.menu-icon {
  // position: absolute;
  width: 20px;
  right: 20px;
  top: 15px;
  display: none !important;
  display: block;

  span {
    width: 20px;
    height: 3px;
    background: white;
    display: block;
    margin-bottom: 3px;
  }

  @include sm {
    display: block !important;
  }
}