.section-psychics {
  background: #fbd5cf;

  @include md {
    .col-2 {
      flex: 0 0 70%;
    }
  }
}

.psychic {
  height: scale(600);
  border-radius: clamp(8px, scale(12), 16px);
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0) 40.27%,
        rgba(0, 0, 0, 0.8) 90%);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: clamp(16px, scale(20), 32px);
    color: white;
    display: flex;
    flex-direction: column;
    gap: clamp(8px, scale(8), 16px);

    .tags {
      gap: clamp(8px, scale(8), 16px);
      display: flex;
      margin-top: scale(16);

      .tag {
        background: $burgundy;

        color: white;
      }
    }

    svg {
      width: scale(16);
      height: scale(16);
    }

    h3 {
      color: white;
    }
  }

  @include md {
    aspect-ratio: .68;
    width: 100%;
    height: auto;

  }
}