.reader {
  $self: &;
  background-color: $white;
  padding: scale(24);
  display: flex;
  gap: scale(24);
  box-shadow: 0 0 scale(20) rgba($burgundy, 0.1);
  margin-bottom: scale(30);
  border-radius: scale(12);

  #{$self}__image {
    width: scale(332);
    aspect-ratio: 0.9;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #{$self}__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .upper-content {
      display: flex;
      flex-direction: column;
      gap: scale(16);

      .name {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          font-size: scale(40);
          color: $coral;
        }
      }

      .rating {
        font-size: 14px;
        gap: 4px;
        display: flex;
      }

      .tags {
        display: flex;
        gap: scale(4);
        flex-wrap: wrap;
      }
    }
  }

  &.inner {
    background: transparent;
    box-shadow: none;
    padding: 0;
    @extend .col-2;

    #{$self}__image {
      width: 100%;
    }
  }
}

.reader-list {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow: auto;

  &_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid $peach;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: scale(24);
    flex: 1;

    .name {
      color: $coral;
      font-size: clamp(16px, scale(32), 64px);
      font-weight: 500;
      font-family: $swinton;
      margin-bottom: 8px;
    }

    p {
      max-width: 600px;
      font-size: 16px;
      color: $black;
    }

    figure {
      width: clamp(80px, scale(96), 120px);
      aspect-ratio: 1;
      border-radius: scale(8);
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}