.service_thumbnail {
  position: relative;
  margin-bottom: 30px;
  border-radius: scale(12);
  overflow: hidden;


  &__image {
    width: 100%;
    height: scale(800);
    overflow: hidden;
    border-radius: scale(12);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      background: #000;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      left: 15px;
      top: 0;
      bottom: 0;
      right: 15px;
      border-radius: scale(12);
    }
  }

  &__content {
    position: absolute;
    z-index: 99;
    color: white !important;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    bottom: scale(100);
    left: scale(50);
    width: 90%;

    h3 {
      font-size: scale(72);
      color: $lightest-peach;

      svg {
        width: scale(32);
        height: scale(32);
      }
    }

    p {
      color: white;
      width: 70%;
    }
  }

  &:nth-child(2n + 2) {
    transform: translateY(scale(150));
  }
}