.service-card {
  $self: &;
  position: relative;
  margin-bottom: 30px;
  border-radius: clamp(8px, scale(12), 16px);
  overflow: hidden;


  #{$self}__image {
    width: 100%;
    height: scale(800);
    overflow: hidden;
    border-radius: clamp(8px, scale(12), 16px);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      background: #000;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: clamp(8px, scale(12), 16px);
    }
  }

  #{$self}__content {
    position: absolute;
    z-index: 99;
    color: white !important;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    bottom: scale(100);
    left: scale(50);
    width: 90%;

    h3 {
      font-size: clamp(32px, scale(72), 96px);
      color: $lightest-peach;

      svg {
        width: scale(32);
        height: scale(32);
      }
    }

    p {
      color: $white;
    }
  }

  .index-number {
    position: absolute;
    right: scale(50);
    top: scale(50);
    z-index: 1;
    color: $white;
    font-size: scale(48);
  }

  @include md {
    margin-bottom: 0;

    #{$self}__image {
      height: auto;
      aspect-ratio: 1.06;

      height: 400px;

    }
  }
}