.subscribe {
    $self: &;
    background-color: $peach;

    #{$self}__image {
        width: calc(100% + scale(120));
        height: 100%;

        img {
            width: 100%;
            margin-left: scale(-120);
            height: auto;
            max-height: 90vh;
            object-fit: cover;
        }
    }

    #{$self}__content {
        align-content: center;
        height: 100%;

        h2 {
            font-size: scale(60);
            color: $burgundy;
            font-weight: 500;
        }

        p {
            margin-top: scale(24);
        }


        .subscribe-form {
            margin-top: scale(50);
            display: flex;
            flex-direction: column;
            gap: scale(20);

            .button {
                margin-top: scale(16);
            }
        }
    }


}