.subscribe {
  $self: &;
  background-color: $peach;

  #{$self}__image {
    width: calc(100% + scale(120));
    height: 100%;
    overflow: hidden;
    margin-left: scale(-120);
    max-height: 90vh;


    img {
      width: 100%;
      height: 120%;
      object-fit: cover;
      margin-top: scale(-150);
      // transform: translateY(calc(var(--progress) * 300px));
    }
  }

  #{$self}__content {
    align-content: center;
    // padding: scale(100) 0;
    padding: clamp(50px, scale(100), 120px) 0;

    h2 {
      font-size: clamp(32px, scale(60), 80px);
      color: $burgundy;
      font-weight: 500;
    }

    p {
      margin-top: scale(24);
    }

    .subscribe-form {
      margin-top: scale(50);
      display: flex;
      flex-direction: column;
      gap: scale(20);

      .button {
        margin-top: scale(16);
      }
    }
  }

  @include md {
    #{$self}__image {
      display: none;
    }

    #{$self}__content {
      h2 {}
    }
  }
}