.tag {
    padding: clamp(4px, scale(8), 12px) clamp(16px, scale(24), 32px);
    background-color: $lightest-peach;
    border-radius: 50px;
    color: $coral;
    font-size: clamp(12px, scale(12), 16px);
}